/* Estilos para la sección principal */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  /* Estilos para las columnas */
  .column {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
  }
  
  /* Estilos para los títulos de las columnas */
  .column-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Estilos para las tarjetas */
  .card {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
  }
  
  /* Estilos para el texto dentro de las tarjetas */
  .card-text {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  /* Estilos para los botones */
  .btn {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: #c82333;
    color: #ffffff;
  }
  
  /* Estilos para el encabezado */
  header {
    padding: 10px;
  }
  
  /* Estilos para el título del encabezado */
  header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  
  /* Estilos para el botón de cerrar del encabezado */
  header .btn:last-child {
    margin-left: 10px;
  }
  
  /* Estilos para dispositivos móviles */
  @media only screen and (max-width: 768px) {
    main {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .column {
      margin: 10px 0;
      width: 100%;
    }
  }