
*{
    font-family: 'Changa', sans-serif;
  
  }
/* Personalizar el header */
header {
    background-color: red;
    margin-bottom: 2.5em;
}

body {
    background-image: url('/img/background.png');
    background-size: cover;
    background-attachment: fixed;
  }

/* Estilos para el main */
main {
    margin-top: 20px;
  }
  .carousel-control-custom {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-control-prev-icon-custom,
  .carousel-control-next-icon-custom {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
  .add-card-button-left {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
  }
 .color-block{
  
  background-color: #c4c4c4be;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 500px;
 }
  
 .add-card-button {
  width: 70px;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  height: 28.5em;
   overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: blue;
}
.aside-content {
  width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
