
*{
    font-family: 'Changa', sans-serif;
  
  }
/* Personalizar el header */
header {
    background-color: red;
    margin-bottom: 2.5em;
}

body {
    background-image: url('/img/background.png');
    background-size: cover;
    background-attachment: fixed;
  }

/* Estilos para el main */
main {
    margin-top: 20px;
    
  }
 .color-block{
  
  background-color: #c4c4c4be;
  backdrop-filter: blur(5px);
  width: 100%;
  min-height: 500px;
 }
  
 .add-card-button {
  width: 70px;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  height: calc(100vh - 100px); /* ajusta el valor "100px" si el encabezado tiene un tamaño diferente */
  overflow-y: auto;
}

.aside-content {
  width: 100%;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }